.project
.classpath
*.bat
*.sh
*.prefs
#/.github/
/.idea/
/allure-results/
/allure-report/
/execution-summary/
/target/
/allure-resultsenvironment.xml
/generate_allure_report.sh
/Web-NopCommerce_TestAutomation.iml